mixin box-img-auth(title, subTitle, linkImg)
    div(class="mt-6 text-center")
        h2(class="text-[3rem] font-[700] text-[--color-btn] leading-[3.5rem]")=title
        p(class="text-[1rem] mt-4 font-[400] text-[--color-btn]")=subTitle
    img(src=linkImg alt="image" class="object-cover")