mixin box-course(imgSrc, titleMain, title, subTitle)
    div(class="w-1/4 shadow-pro group flex items-center justify-center flex-wrap bg-[--bs-body-bg-rgb] rounded-2xl p-12 cursor-pointer")  
        img(class="h-[6rem] w-auto mb-4" src=imgSrc)
        h5(class="w-full group-hover:text-[#066ac9] transition-all duration-500 text-center text-[1.3rem] font-[700] text-[--color-btn] mb-2")=titleMain
        p(class="w-full text-center text-[1rem] font-[400] text-[--color-link] mb-2 line-clamp-2")=title
        span(class="text-center text-[1rem] font-[400] text-[--color-link]")=subTitle