extends ../../layouts/default-2.pug
include ../../mixins/box-title-auth.pug
include ../../mixins/button-submit.pug
block main 
    include ../../partials/flashNotify.pug
    section(class="")
        div(class="flex items-center")
            div(class="w-1/2 bg-[rgba(6,106,201)] bg-opacity-10  h-screen")
                div(class="mt-6 text-center")
                    h2(class="text-[3rem] font-[700] text-[--color-btn] leading-[3.5rem]") Welcome to our largest community
                    p(class="text-[1rem] mt-4 font-[400] text-[--color-btn]") Let's learn something new today!
                img(src="/client/images/auth-bg.svg" alt="image" class="object-cover")
            div(class="w-1/2 flex items-center justify-center h-screen")
                div(class="mx-14")
                    <span class="text-[3rem]">🤔</span>
                    h1(class="text-[2.5rem] font-[700] text-[--color-btn]") Forgot Password?
                    h5(class="text-[1.2rem] font-[500] text-[--color-btn] ") To receive a new password, enter your email address below. 
                    form(
                        class="mt-4",
                        action="/auth/forgot-password"
                        method="POST"
                    )
                        label(for="email" class="text-[1rem] font-[500] text-[#747579]") Email adress* 
                        div(class="flex items-center mt-2 bg-[rgb(245,247,249)] rounded-sm")
                            <span class="bg-light rounded-xl border-0 pl-6 pr-3"><svg width="1em" height="1em" viewBox="0 0 16 16" fill="#747579" role="img" focusable="false"><path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"></path></svg></span>
                            input(type="email", name="email" id="email" placeholder="Email" class="focus:border-none focus-visible:outline-none px-4 py-4 w-full bg-transparent")
                        +button-submit(
                            "Reset password"
                        )
                    div(class="mt-4")
                        +box-title-auth(
                            "Don't have an account?",
                            "/auth/login",
                            "Login here"
                        )