extends ../../layouts/default-2.pug
include ../../mixins/box-title-auth.pug
include ../../mixins/input-auth.pug
include ../../mixins/button-submit.pug
block main 
    include ../../partials/flashNotify.pug
    section(class="")
        div(class="flex items-center")
            div(class="w-1/2 bg-[rgba(6,106,201)] bg-opacity-10  h-screen")
                div(class="mt-6 text-center")
                    h2(class="text-[3rem] font-[700] text-[--color-btn] leading-[3.5rem]") Welcome to our largest community
                    p(class="text-[1rem] mt-4 font-[400] text-[--color-btn]") Let's learn something new today!
                img(src="/client/images/auth-bg.svg" alt="image" class="object-cover")
            div(class="w-1/2 flex items-center justify-center h-screen")
                div(class="w-full max-w-[80%]")
                    <span class="text-[3rem]">🤔</span>
                    h1(class="text-[2.5rem] font-[700] text-[--color-btn]") Reset Password?
                    h5(class="text-[1.2rem] font-[500] text-[--color-btn] ") Enter your new password below. 
                    form(
                        class="mt-4"
                        action="/auth/password/reset"
                        method="POST"
                    )
                        +input-auth(
                            "Password *",
                            "password",
                            "password",
                            "password",
                            "Password"
                        )
                            <svg width="1em" height="1em" focusable="false" data-prefix="fas" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="" fill="#747579" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path></svg>
                        +input-auth(
                            "Confirm Password *",
                            "confirmPassword",
                            "confirmPassword",
                            "password",
                            "Confirm Password"
                        )
                            <svg width="1em" height="1em" focusable="false" data-prefix="fas" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="" fill="#747579" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path></svg>    
                        +button-submit(
                            "Submit"
                        )
                    